.service__item span i {
  font-size: 2.5rem;
  /* color: #f9a826; */
  color: linear-gradient(#4ca1af   10%,  #c4e0e5  );
}

.service__item h6 {
  font-size: 1.2rem;
  font-weight: 600;
  transition: 0.3s;
}

.service__item h6:hover {
  color: #0096c7;
}

@media only screen and (max-width: 768px) {
  .service__item h6 {
    font-size: 1.1rem;
  }
}
